.more_container {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more_details {
  border: 2px solid #0a6b65;
  padding: 3rem;
}

.more_details_item {
  font-size: 1.75rem;
  margin: 0.625rem;
  border-bottom: 1px solid #2332;
  color: #000076;
}

.back_btn {
  margin: 2.25rem 0.625rem 0;
  color: #008200;
}
