body {
  width: 100%;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  color: #444;
  display: block;
  font-family: "Clarkson", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  text-rendering: geometricPrecision;
  text-transform: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
  line-height: 1.3;
  tab-size: 4;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
article,
footer,
header,
nav {
  vertical-align: baseline;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
ol,
ul {
  list-style: none;
}

input:focus {
  outline: none;
}


a {
  text-decoration: none;
  color: black;
}
.user_box {
  border: 2px solid black;
  margin: 20px 0; 
}